.div{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(213, 217, 255);
    padding: 20px;
    border: 4px solid;
}

.cor{
    background: position: relative;
    width: 1440px;
    height: 1024px;
    
    background: linear-gradient(178.43deg, #8C7FDA 1.34%, rgba(140, 127, 218, 0) 98.7%);
}