.centro{
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(174, 215, 228);
    padding: 20px;
    border: 4px solid;
}

.centralizar{
    text-align: center;
}

div{
    background: rgb(95, 160, 182);
}