.centralizar{
    background-color: white;
    border: 2px solid purple;
    width: 750px;
    margin: 20px auto;
    padding: 20px;
}

.centro{
    text-align: center;
}

.back{
    background: rgb(240, 199, 241);
}