.centralizar{
    background-color: white;
    border: 2px solid rgb(255, 7, 7);
    width: 750px;
    margin: 20px auto;
    padding: 20px;
}

.centro{
    text-align: center;
}

.menu{
    width: 750px;
    margin: 20px auto;
    padding: 20px;
}